@{
    ViewBag.Title = "Cuentacuentas";
}

        <h2>Buscá tu cuenta</h2>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post)) {
            
            <input placeholder="DNI del cliente" name="dni" type="number" min="0"/>
            <input placeholder="Monto mínimo" name="saldo" type="number" min="0" />
            <button type="submit">Buscar</button>

        }

        <div>@ViewBag.Result</div>